.btn {
  font-size: 1.75rem;
  font-weight: 600;
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  transition: all 0.5s, transform 0.1s;
  @media only screen and (max-width: 44.4em) {
    font-size: 2rem;
  }

  &:active {
    transform: scale(0.9);
  }
}
.btn-signup {
  color: $Light-red-2;
  padding: 1rem 1.7rem;
  border: 1px solid $White;
  @media only screen and (max-width: 35em) {
    font-size: 1.35rem;
  }
  &:hover,
  &:active {
    color: $White;
    background-color: $Light-red-1;
    border: 1px solid $White;
    @media only screen and (max-width: 44.4em) {
      background-image: linear-gradient(
        to right,
        $Very-light-red-2,
        $Very-light-red-1
      );
    }
  }
  @media only screen and (max-width: 44.4em) {
    background-image: linear-gradient(
      to right,
      $Very-light-red-2,
      $Very-light-red-1
    );
  }
}

.btn-login {
  padding: 1rem 1.9rem;
  background-color: transparent;
  color: white;
  @media only screen and (max-width: 35em) {
    font-size: 1.35rem;
  }
  &:hover,
  &:active {
    color: $Light-red-2;
    background-color: $White;
  }
  @media only screen and (max-width: 44.4em) {
    color: $Very-dark-blue;
    &:hover,
    &:active {
      border: 1px solid $Light-red-2;
    }
  }
}
.btn-start {
  color: $Light-red-1;
  @media only screen and (max-width: 35em) {
    font-size: 1.35rem;
  }
  &:hover,
  &:active {
    color: $White;
    background-color: transparent;
    border: 1px solid $White;
  }
}
.btn-learn {
  color: $White;
  background-color: transparent;
  border: 1px solid $White;
  @media only screen and (max-width: 35em) {
    font-size: 1.35rem;
  }
  &:hover,
  &:active {
    color: $Light-red-1;
    background-color: $White;
  }
}
