.paragraph {
  font-size: 1.5rem;
  color: $White;
  @media only screen and (max-width: 44.4em) {
    color: $Very-dark-blue;
    font-weight: 700;
    font-size: 2.5rem;
  }
  @media only screen and (max-width: 35em) {
    font-size: 1.35rem;
  }
}

.heading-primary {
  font-size: 4.5rem;
  font-family: $font-ubuntu;
  color: $White;
  @media only screen and (max-width: 35em) {
    font-size: 3.2rem;
  }
  @media only screen and (max-width: 25em) {
    font-size: 2.5rem;
  }
}
.heading-paragraph {
  font-size: 1.5rem;
  color: $Grayish-blue;
  margin-top: 1.5rem;
  @media only screen and (max-width: 35em) {
    font-size: 1.2rem;
  }
}
.heading-secondary {
  font-size: 3.5rem;
  color: $Very-dark-blue;
  @media only screen and (max-width: 35em) {
    font-size: 3rem;
  }
  @media only screen and (max-width: 25em) {
    font-size: 2.5rem;
  }
}
.heading-tritary {
  font-size: 2.5rem;
  color: $Very-dark-unsaturated-blue;
  @media only screen and (max-width: 35em) {
    font-size: 2rem;
  }
  @media only screen and (max-width: 25em) {
    font-size: 1.6rem;
  }
}

//future
.future-paragraph {
  line-height: 1.5;
  color: $Very-dark-grayish-blue;
  font-size: 1.5rem;
  font-weight: 600;
  padding-right: 2rem;
  text-align: justify;
  @media only screen and (max-width: 35em) {
    font-size: 1.2rem;
    text-align: justify;
  }
}
.future-heading-tritary {
  margin-bottom: 0.8rem;
}

//infrastructure
.infrastructure-heading-tritary {
  color: $White;
  @media only screen and (max-width: 51.25em) {
    font-size: 2.2rem;
  }
}
.infrastructure-paragraph {
  color: $Grayish-blue;
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
  @media only screen and (max-width: 38.75em) {
    text-align: justify;
  }
}
